<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4" style="width: 400px;">
    
    <h4 class="text-center mb-4">Reset Password</h4>

    <form [formGroup]="passwordForm">

        <!-- Email (Disabled) -->
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input 
            type="email" 
            class="form-control" 
            formControlName="email"
            [value]="userResponseList[0]?.email"
           
        >
        <div 
    class="error-message" 
    *ngIf="passwordForm.get('email')?.invalid && 
           (passwordForm.get('email')?.dirty || passwordForm.get('email')?.touched)">
               Email is required.
       </div>
         
        </div>

      <!-- Old Password -->
      <div class="mb-3">
        <label class="form-label">Old Password</label>
        <input 
          type="password" 
          class="form-control" 
          formControlName="oldPassword" 
          placeholder="Enter old password" 
          required>

            <div 
    class="error-message" 
    *ngIf="passwordForm.get('oldPassword')?.invalid && 
           (passwordForm.get('oldPassword')?.dirty || passwordForm.get('oldPassword')?.touched)">
               Old Password is required.
       </div>

      </div>

      <!-- New Password -->
      <div class="mb-3">
        <label class="form-label">New Password</label>
        <input 
          type="password" 
          class="form-control" 
          formControlName="newPassword" 
          placeholder="Enter new password" 
          required>
      </div>
  <div class="error-message">

  <div *ngIf="passwordForm.get('newPassword')?.hasError('required')">
    Password is required
  </div>

  <div *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">
    Minimum 8 characters required
  </div>

  <div *ngIf="passwordForm.get('newPassword')?.hasError('pattern')">
    Must contain uppercase, lowercase, number & special character
  </div>

</div>
      <!-- Confirm Password -->
      <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input 
          type="password" 
          class="form-control" 
          formControlName="confirmPassword"
          placeholder="Confirm new password" 
          required>

           <div class="error-message"
               *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.hasError('required')">
            Confirm password is required
          </div>

          <div class="error-message"
               *ngIf="passwordForm.errors?.['passwordMismatch']">
            Passwords do not match
          </div>
      </div>

      <!-- Submit Button -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary"  (click)="updatePassword()">
          Update Password
        </button>
      </div>

    </form>
  </div>
</div>