<div class="table-card p-4 profile-card" *ngFor=" let user of userResponseList">

  <!-- TITLE -->
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h5 class="fw-bold mb-0">
      <i class="bi bi-person-circle me-2 text-primary"></i>
      Profile Information
    </h5>

    <button type="button"
            class="btn btn-edit px-3"
            data-bs-toggle="modal"
            data-bs-target="#editProfileModal" (click)="isUpdate(user)">
      <i class="bi bi-pencil me-1"></i>
      Edit
    </button>
  </div>

  <!-- INFO GRID -->
  <div class="row g-4" >

    <!-- FIRST NAME -->
    <div class="col-md-4">
      <div class="info-box">
        <div class="info-label">First Name</div>
        <div class="info-value">{{ user.firstname }}</div>
      </div>
    </div>

    <!-- LAST NAME -->
    <div class="col-md-4">
      <div class="info-box">
        <div class="info-label">Last Name</div>
        <div class="info-value">{{ user.lastname }}</div>
      </div>
    </div>

    <!-- EMAIL -->
    <div class="col-md-4">
      <div class="info-box">
        <div class="info-label">Email</div>
        <div class="info-value">{{ user.email }}</div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editProfileModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content modal-theme">

      <!-- HEADER -->
      <div class="modal-header border-0">
        <h5 class="fw-bold">Update Profile</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- BODY -->
      <div class="modal-body">

        <form [formGroup]="profileForm">

          <!-- FIRST NAME -->
          <div class="mb-3">
            <label class="form-label small fw-bold text-muted">First Name</label>
            <input type="text"
                   class="form-control form-control-theme"
                   formControlName="firstname">
                    <div class="error-message" 
                 *ngIf="profileForm.get('firstname')?.touched && profileForm.get('firstname')?.invalid && profileForm.get('firstname')?.hasError('required')">
              First name is required.
            </div>
          </div>

          <!-- LAST NAME -->
          <div class="mb-3">
            <label class="form-label small fw-bold text-muted">Last Name</label>
            <input type="text"
                   class="form-control form-control-theme"
                   formControlName="lastname">
            <div class="error-message" 
                 *ngIf="profileForm.get('lastname')?.touched && profileForm.get('lastname')?.invalid && profileForm.get('lastname')?.hasError('required')">
              Last name is required.
            </div>
          </div>

          <!-- EMAIL -->
          <div class="mb-3">
            <label class="form-label small fw-bold text-muted">Email</label>
            <input type="email"
                   class="form-control form-control-theme"
                   formControlName="email">
            <div class="error-message" 
                 *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.invalid && profileForm.get('email')?.hasError('required')">
              Email is required.
            </div>

          </div>

          <!-- BUTTONS -->
          <div class="d-flex gap-2 mt-3">
            <button type="button"
                    class="btn btn-light w-100"
                    data-bs-dismiss="modal">
              Cancel
            </button>

            <button type="button"
                    class="btn btn-theme w-100"
                    (click)="saveProfile()"
                    data-bs-dismiss="modal">
              Save
            </button>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>

<!-- 
<div class="table-card p-4 mt-4">


  <div class="d-flex align-items-center justify-content-between mb-4">
    <h5 class="fw-bold mb-0">
      <i class="bi bi-shield-lock me-2 text-danger"></i>
      Change Password
    </h5>
  </div> -->

<!-- 
  <form [formGroup]="passwordForm">

    <div class="row g-4">

    
      <div class="col-md-6">
        <div class="info-box">
          <label class="info-label">New Password</label>
          <input type="password"
                 class="form-control form-control-theme"
                 formControlName="newPassword">

          <div class="error-message">

  <div *ngIf="passwordForm.get('newPassword')?.hasError('required')">
    Password is required
  </div>

  <div *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">
    Minimum 8 characters required
  </div>

  <div *ngIf="passwordForm.get('newPassword')?.hasError('pattern')">
    Must contain uppercase, lowercase, number & special character
  </div>

</div>
        </div>
      </div> -->

      <!-- CONFIRM PASSWORD -->
      <!-- <div class="col-md-6">
        <div class="info-box">
          <label class="info-label">Confirm Password</label>
          <input type="password"
                 class="form-control form-control-theme"
                 formControlName="confirmPassword">

          <div class="error-message"
               *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.hasError('required')">
            Confirm password is required
          </div>

          <div class="error-message"
               *ngIf="passwordForm.errors?.['passwordMismatch']">
            Passwords do not match
          </div>
        </div>
      </div>

    </div> -->

    <!-- BUTTONS -->
    <!-- <div class="d-flex gap-2 mt-4">
      <button type="button"
              class="btn btn-light w-100"
              (click)="passwordForm.reset()">
        Cancel
      </button>

      <button type="button"
              class="btn btn-theme w-100"
           (click)="updatePassword()" >
        Update Password
      </button>
    </div>

  </form>

</div> -->